*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    font-family: Montserrat;
}

header{
    background-color: black;
}

header .header-logo{
    width: 100%;
    height: 30px;
    /* background-color: aqua; */
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-link{
    color: white;
    font-family: Tiny5;
    font-size: 1.4rem;
}

.header-menu ul{
    width: 100%;
    height: 35px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-bottom: 7px;
    padding-top: 3px;
}

.header-menu ul li a{
    color: white;
    font-size: 0.65rem;
    font-weight: 800;
}

.header-menu ul li a:hover{
    color: #e4cb86;
}

main{
    background-color: black;
    color: white;
    
}

.title-text{
    width: 100%;
    height: 585px;
}

.title-text-headline{
    padding: 100px 25px 20px 30px;
    
}

.title-text-headline p{
    margin-top: 30px;
    font-size: 0.85rem;
}

.footer-hr{
    display: flex;
    justify-content: center;
}

footer .footer-hr hr{
    width: 300px;
    background-color: none;
    border: 1px solid white;

}

footer{
    background-color: black;
}

.footer-main{
    padding: 50px 0px 50px 30px;
    display: flex;
}

.footer-menu li {
    font-size: 0.65rem;
    list-style: none;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-menu li a{
    color: white;
}

.footer-menu li a:hover{
    color: #e4cb86;
}