*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    font-family: Montserrat;
}

header{
    background-color: black;
}


.navbar{
    width: 100%;
    height: 85px;
    padding-top: 10px;
}
header .header-logo{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-link{
    color: white;
    font-family: Tiny5;
    font-size: 1.4rem;
}

.header-menu ul{
    width: 100%;
    height: 35px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-bottom: 7px;
    padding-top: 3px;
}

.header-menu ul li a{
    color: white;
    font-size: 0.65rem;
    font-weight: 800;
}

.header-menu ul li a:hover{
    color: #e4cb86;
}

.header-sm-icons{
    display: none;
}

main{
    background-color: black;
    color: white;
    
}

.title-text{
    width: 100%;
    height: 585px;
}

.title-text-headline{
    padding: 100px 25px 20px 30px;
    
}

.title-text-headline p{
    margin-top: 30px;
    font-size: 0.85rem;
}

.footer-hr{
    display: flex;
    justify-content: center;
}

footer .footer-hr hr{
    width: 300px;
    background-color: none;
    border: 1px solid white;

}

footer{
    background-color: black;
}

.footer-main{
    height: 192px;
    display: flex;
}

.footer-menu ul{
    padding: 50px 0 0 30px;
}

.footer-menu li {
    font-size: 0.65rem;
    list-style: none;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-menu li a{
    color: white;
}

.footer-menu li a:hover{
    color: #e4cb86;
}

.show-case{
    height: 100%;
    width: 125px;
    padding-left: 25px;
}

.sm-icons{
    height: 125px;
    width: 100px;
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.sm{
    color: white;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.sm:hover{
    color: #e4cb86;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .navbar{
        width: 100%;
        height: 85px;
        padding-top: 10px;
        display: flex;
        align-items: center;
    }
    header .header-logo{
        width: 200px;
        height: 100%;
        padding-left: 15px;
    }
    
    .header-logo-link{
        font-size: 1.6rem;
    }

    .header-menu ul{
        width: 550px;
        height: 100%;
    }
    
    .header-menu ul li a{
        color: white;
        font-size: 0.7rem;
    }

    .title-text{
        width: 100%;
        height: 825px;
    }
    
    .title-text-headline{
        padding: 275px 70px 0 100px;
        font-size: 1.7rem;
        
    }
    
    .title-text-headline p{
        font-size: .95rem;
    }

    footer .footer-hr hr{
        width: 675px;
    }

    .footer-main{
        height: 400px;
    }
    
    .footer-menu ul{
        padding: 80px 0 0 100px;
    }

    .footer-menu li {
        font-size: 0.85rem;
        padding-bottom: 20px;
    }

    .show-case{
        width: 300px;
        padding-left: 50px;
    }
    
    .sm-icons{
        height: 125px;
        width: 200px;
        padding-top: 80px;
    }
    
    .sm{
        margin-bottom: 20px;
        font-size: 1.6rem;
    }
}

@media  screen and (min-width: 1024px) {
    .navbar{
        display: flex;
    }
    header .header-logo{
        width: 500px;
        height: 100%;
        justify-content: end;
    }
    
    .header-logo-link{
        font-size: 2rem;
    }

    .header-menu ul{
        width: 525px;
        height: 100%;
        margin-left: 150px;
        justify-content: space-evenly;
    }
    
    .header-menu ul li a{
        color: white;
        font-size: .9rem;
    }

    .header-sm-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 100%;
        margin-top: 4px;
        margin-left: 150px;
    }

    .header-sm{
        color: white;
        font-size: 1.3rem;
        margin-right: 30px;
    }
    
    .header-sm:hover{
        color: #e4cb86;
    }

    .title-text{
        height: 900px;
    }
    
    .title-text-headline{
        padding: 250px 925px 0 200px;
        font-size: 2.2rem;
        
    }
    
    .title-text-headline p{
        font-size: 1.1rem;
    }

    footer .footer-hr hr{
        width: 1600px;
    }

    .footer-main{
        height: 300px;
    }
    
    .footer-menu ul{
        padding: 95px 0 0 400px;
    }
    
    .footer-menu li {
        font-size: .9rem;
        padding-bottom: 20px;
    }

    .show-case{
        width: 500px;
        padding-left: 100px;
    }
    
    .sm-icons{
        height: 250px;
        width: 300px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .sm{
        font-size: 2rem;
        margin-right: 50px;
    }
}